body {
  font-family: 'VT323', monospace;
}

canvas {  
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
}

#bg {
  z-index: 0;
}

#game {
  z-index: 1;
}

#controls {
  left: 870px;
  position: absolute;
}

#scoreboard {
  font-size: 40px;
  position: absolute;
}

#game-over {
  position: absolute;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  width: 864px;
  text-align: center;
  font-size: 150px;
  top: 144px;
  transition: margin-top 0.5s;
  -webkit-transition: margin-top 0.5s;
  display: none;
}

#game-over.show {
  display: block;
  margin-top: 20px;
}